# Para MySQL (recomendado para producción)
# DATABASE_URL=mysql+pymysql://usuario:password@localhost:3306/autosvc

# Para desarrollo local simple (SQLite)
DATABASE_URL=sqlite:///autosvc.db

SECRET_KEY=super-secreto-cambia-esto
PORT=5000
