Flask==3.0.3
SQLAlchemy==2.0.36
Flask-Migrate==4.0.7
Flask-Login==0.6.3
Flask-WTF==1.2.1
WTForms==3.1.1
Werkzeug==3.0.1
email-validator==2.1.0
pandas==2.2.3
openpyxl==3.1.5
xlrd==2.0.2
html5lib==1.1
beautifulsoup4==4.14.2
chardet==5.2.0
python-dotenv==1.0.1
pymysql==1.1.1
waitress==3.0.2
